<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="LOG_FILENAME">logs/${date:yyyy-MM-dd HH-mm-ss}.log</Property>
        <Property name="CONSOLE_PATTERN">
            %blue{[%d{MM-dd HH:mm:ss}]} %yellow{[%t]} %highlight{[%level]}{ERROR=red, WARN=yellow, INFO=green, DEBUG=cyan, TRACE=white} %msg%n
        </Property>
        <Property name="FILE_PATTERN">
            [%d{MM-dd HH:mm:ss}] [%t] [%level] %msg%n
        </Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${CONSOLE_PATTERN}"/>
        </Console>

        <File name="File" fileName="${LOG_FILENAME}">
            <PatternLayout pattern="${FILE_PATTERN}"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="DEBUG">
            <AppenderRef ref="Console"/>
<!--            <AppenderRef ref="File"/>-->
        </Root>
    </Loggers>
</Configuration>